{{!-- 總金額 --}}
<div class="d-flex justify-content-evenly mt-3">
  <h3>總金額:</h3>
  <h1 class="total">{{totalValue}}</h1>
</div>

{{!-- 列表 --}}
<ul class="list-group list-group-flush striped-list">
  {{#each records}}
  <li class="list-group-item d-flex align-items-center">
    <i class="{{this.categoryId.iconClassName}} me-3"></i>

    <div class="me-auto">
      <h2>{{this.name}}</h2>
      <p>{{this.date}}</p>
    </div>

    <div class="me-5">$ {{this.amount}}</div>

    <div class="d-flex">
      <a href="/record/{{this._id}}/edit" class="btn btn-edit me-5">修改</a>
      <form action="/record/{{this_id}}/delete" method="POST">
        <button type="submit" class="btn btn-delete">刪除</button>
      </form>
    </div>
  </li>
  {{/each}}
</ul>

{{!-- 新增 --}}
<a href="/record/create" class="btn btn-create">新增支出</a>